.changelog-item {
  border-bottom: 1px solid transparent;
  cursor: pointer;
}

.changelog-item h3 {
  margin: 0;
  padding: 1rem;
}

.changelog-content {
  display: none;
  padding: 0 1rem 1rem;
}

.changelog-item.active .changelog-content {
  display: block;
}

hr {
  background-color: transparent;
  height: 1px;
  border: 0;
}