nav {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 120px);
  background: rgba(49, 49, 49, 0.6);
  padding: 10px 20px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(100px);
  margin: 20px 60px;
  border-radius: 16px;
}

nav .logo {
  font-size: 1.5rem;
  color: var(--md_accent_color);
  cursor: pointer;
  font-family: 'Space Grotesk';
  font-weight: 500;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
  font-family: 'Space Grotesk', sans-serif;
}

nav ul li a:hover {
  color: var(--md_accent_color);
}

.mobile-nav {
  display: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}