@media (max-width: 768px) {
  .header h1 {
    font-size: 2.2rem;
  }

  .header p {
    font-size: 1.2rem;
  }

  nav ul {
    display: none;
  }

  .mobile-nav {
    display: block;
  }

  .header-inner {
    flex-direction: column;
    text-align: center;
  }

  .header-start,
  .header-text,
  .header-mockup {
    max-width: 100%;
    text-align: center;
  }

  .header-mockup {
    margin-top: 0px;
  }

  .header-mockup img {
    max-width: 0px;
    height: auto;
  }

  .changelog-item {
    padding: 15px;
  }

  .changelog-title {
    font-size: 1.6rem;
  }

  .changelog-description {
    font-size: 1rem;
  }

  .header-game img {
    max-width: 100%;
  }

  .nav-links {
    background: rgba(49, 49, 49, 1) !important;
    padding-right: 32px !important;
  }

  .brand-filters {
    justify-content: flex-start;
  }

  #joinTelegram {
    margin-right: 0px !important;
  }

  #changelog-list {
    text-align: center !important;
  }

  .faq-grid {
    grid-template-columns: 1fr;
  }

  .game-preview-container {
    max-height: 150px !important;
  }
}

@media (max-width: 600px) {
  .user_feedbacks {
    justify-content: flex-start;
  }

  .user_feedback {
    width: 100%;
  }
}